
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/version.properties

# Keystore
*.jks
*.keystore

# Логи и временные файлы
tree.txt
java_tree.txt
release_log.txt

# Kotlin
.kotlin
